@import url(https://fonts.googleapis.com/css?family=Tangerine);
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
@import url('https://fonts.googleapis.com/css?family=Dosis');

@media (max-width: 762px) {
  .btn-responsive {
    font-size: 80%;
    line-height: 1.4;
    padding: 3px 6px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
}

@media (min-width: 760px) and (max-width: 992px) {
  .btn-responsive {
    padding: 4px 9px;
    font-size: 90%;
    line-height: 1.5;
  }
}

body {
  margin-bottom: 60px;
  margin-top: 100px;

}

.btn-default {
  font-size: 10px;
}

.btn.btn-raised {
  box-shadow: 0 1px 3px rgba(0, 0, 0, .23), 0 1px 3px rgba(0, 0, 0, .16);
  transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
.btn.btn-raised:hover,.btn:focus {
    box-shadow: 0 4px 8px rgba(0,0,0,.50),0 4px 8px rgba(0,0,0,.50);
    transition: box-shadow .128s cubic-bezier(.4,0,.2,1);
}
*/

.btn:focus {
  outline: none;
}

.chart-wrapper {
  background: #fff;
  margin-bottom: 5px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .23), 0 1px 3px rgba(0, 0, 0, .16);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .23), 0 1px 3px rgba(0, 0, 0, .16);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.chart-wrapper .chart-title {
  text-transform: uppercase;
  border-bottom: 2px solid #d9d9d9;
  font-weight: bold;
  text-align: center;
  padding: 5px 10px;
}

.chart-wrapper .chart-area {
  text-align: center;
  overflow: hidden;
  position: relative;
}

/*
.card {
    text-align: center;
    margin-top: 10px;
    padding-top: 5px;
    background-color: #FFF;
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
   -webkit-box-shadow: 0 3px 10px rgba(0,0,0,.23),0 3px 10px rgba(0,0,0,.16);
    -moz-box-shadow: 0 3px 10px rgba(0,0,0,.23),0 3px 10px rgba(0,0,0,.16);
    /*box-shadow: 0 1px 6px rgba(0,0,0,.12),0 1px 6px rgba(0,0,0,.12);*/

/* box-shadow: 0 3px 10px rgba(0,0,0,.23),0 3px 10px rgba(0,0,0,.16);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card-title {
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    background-color: antiquewhite;
    box-shadow: 0 3px 10px rgba(0,0,0,.23),0 3px 10px rgba(0,0,0,.16);
}


.card-title [class*="icon-"] {
 -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}
.card-title:hover [class*="icon-"] {
    :hover [class*="icon-"] {
	color: #24a159 !important;
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    .rotate(90deg);
}
}
*/

div#sequence {
  padding-top: 5px;
  padding-left: 5px;
  /*overflow: scroll;*/
  overflow-y: hidden;
}

div.tooltip {
  position: absolute;
  text-align: center;
  font: 12px sans-serif;
  border: 5px;
  border-color: aliceblue;
  border-radius: 8px;
  padding: 8px;
  color: cornsilk;
  background: black;
  pointer-events: none;
}

#dendogram {
  height: 500px;
}

h4.title {
  text-align: center;
}

/*custome style on navbar */

.navbar {
  min-height: 50px;
  border-bottom: 0px solid #d9d9d9;
  background-color: #777;
  /*background-color: #f9f7ed;
  background-color: #f4f3ef;
  background-color: #77cc6d; 
  background-color: #ffd777;*/
  box-shadow: 0 3px 10px rgba(0, 0, 0, .13), 0 3px 10px rgba(0, 0, 0, .16);
}


/*custome style on navbar brand */

.navbar .navbar-brand {
  color: #fff;
  position: absolute;
  left: 40px;
  margin: 5px 10px;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
  padding: 10px 20px;
  font-size: 25px;
}


/* navbar brand on hover */

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #68B3C8;
}


/*custome style on navbar li */

.navbar .navbar-nav > li > a {
  color: #fff;
  /*font-weight: 600;*/
  right: 100px;
  font-size: 22px;
  font-weight: bold;
  font-family: 'Josefin Slab', sans-serif;
  line-height: 1.42857;
  margin: 5px 10px;
  padding: 5px 10px;
}


/* navbar li on hover */

.navbar .navbar-nav > li > a:hover {
  background-color: transparent;
  color: #68B3C8;
  color: darkturquoise;
}


/* navbar li on click */

.navbar .navbar-nav > li > a:focus {
  background-color: transparent;
  color: #fff;
}


/* active navbar li */

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:focus,
.navbar .navbar-nav > .active > a:hover {
  background-color: #66615b !important;
  color: #fff !important;
  border-radius: 6px !important;
}

html {
  font-family: 'Dosis', sans-serif;
  position: relative;
  min-height: 100%;
}

.header {
  text-align: center;
  color: rosybrown;
  font-size: 20px;
  font-family: 'Dosis', sans-serif;
}

/*#show-viz {
	visibility: hidden;
}            

#load-data{
    visibility:visible;
}
*/

text {
  cursor: default;
  fill: #FFF;
  pointer-events: none;
  font-size: 13px;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
}

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 15px;
  fill: black;
}

/*.link-extensions {
  fill:#fff;
  stroke: #000;
  stroke-opacity: .25;
}
*/

.labels {
  font: 11px sans-serif;
}

.link--active {
  fill: #fff;
  stroke: #000 !important;
  stroke-width: 1.5px;
}

.link-extension--active {
  stroke-opacity: .6;
}

.label--active {
  font-weight: bold;
}

#map,
#sunburst {
  height: 400px;
}

#checklist {
  height: 500px;
}

#worldMap {
  padding: 10px 10px 10px 10px;
  background-color: #fff;
}


path.slice {
  stroke-width: 2px;
}

polyline {
  opacity: .3;
  stroke: black;
  stroke-width: 2px;
  fill: none;
}

.hide-vis {
  visibility: hidden;
}

.rotate {
  cursor: pointer;
}

.rotate:hover {
  -moz-animation: spin .4s 1 linear;
  -o-animation: spin .4s 1 linear;
  -webkit-animation: spin .4s 1 linear;
  animation: spin .4s 1 linear;
}

.footer {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Dosis', sans-serif;
  color: white !important;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 50px;
  padding-top: 15px;
  background-color: #777;
}

/*Parallel cords*/

.parcoords {
  display: block;
}

.parcoords svg,
.parcoords canvas {
  font: 10px sans-serif;
  position: absolute;
}

.parcoords canvas {
  opacity: 0.9;
  pointer-events: none;
}

.axis .title {
  font-size: 10px;
  transform: rotate(-21deg) translate(-5px, -6px);
  fill: #222;
}

.axis line,
.axis path {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}

.axis .tick text {
  fill: #222;
  opacity: 0;
  pointer-events: none;
}

.axis.manufac_name .tick text,
.axis.food_group .tick text {
  opacity: 1;
}

.axis:hover line,
.axis:hover path,
.axis.active line,
.axis.active path {
  fill: none;
  stroke: #222;
  stroke-width: 1px;
}

.axis:hover .title {
  font-weight: bold;
}

.axis:hover .tick text {
  opacity: 1;
}

.axis.active .title {
  font-weight: bold;
}

.axis.active .tick text {
  opacity: 1;
  font-weight: bold;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  stroke-width: 1px;
}

pre {
  width: 100%;
  height: 500px;
  margin: 6px 12px;
  tab-size: 50;
  font-size: 10px;
  overflow: auto;
}
